body {
    font: 12px Verdana, Tahoma, Arial, sans-serif;
    line-height: 18px;
    background: #E7E7E7;
}

a, a:link, a:visited {
    color: #043F4A;
    text-decoration: underline;
}

a:hover, a:active {
    color: #717171;
    text-decoration: none;
}

a.headerlink {
    color: #043F4A!important;
    margin-left: 6px;
    padding: 0 4px 0 4px;
    text-decoration: none!important;
    visibility: hidden;
}

h1:hover > a.headerlink,
h2:hover > a.headerlink,
h3:hover > a.headerlink,
h4:hover > a.headerlink,
h5:hover > a.headerlink,
h6:hover > a.headerlink,
dt:hover > a.headerlink {
    visibility: visible;
}

a.headerlink:hover {
    background-color: #043F4A;
    color: white!important;
}

span.pre {
    font-family: 'Consolas', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
    letter-spacing: 0.015em;
}

pre {
    font-family: 'Consolas', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
    letter-spacing: 0.015em;
    padding: 5px;
    border: 1px solid #d8d8d8;
    background-color: #f4f4f4;
    line-height: 15px;
    white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
}

pre a {
    color: inherit;
    text-decoration: underline;
}

ul {
    list-style: square;
}

dl {
    margin-bottom: 15px;
}

dd {
    margin-top: 3px;
    margin-bottom: 10px;
    margin-left: 30px;
}

dt:target, .highlight {
    background-color: #fbe54e;
}

#container {
    width: 960px;
    margin: 20px auto;
    padding: 10px;
    text-align: left;
    background: #ffffff;
    color: #303030;
}

#header {
    margin: 0;
    padding: 0;
    height: 80px;
    width: 958px;
    background: #87B220;
    color: #ffffff;
}

#header h1 {
    margin: 0;
    padding: 0;
    padding: 15px 0 0 20px;
    font-size: 28px;
    background-color: inherit;
    letter-spacing: -2px;
    font-weight: normal;
}

#header h2 {
    margin: 0;
    padding: 0;
    margin: 15px 0 0 20px;
    font-size: 16px;
    background-color: inherit;
    letter-spacing: -1px;
    font-weight: normal;
}

div.related h3 {
    display: none;
}

div.related ul {
    height: 25px;
    list-style: none;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin: 0;
    padding-left: 10px;
}

div.related ul li {
    margin: 0;
    padding: 0;
    height: 25px;
    float: left;
}

div.related ul li.right {
    float: right;
    margin-right: 5px;
}

div.related ul li a {
    margin: 0;
    padding: 0 5px 0 5px;
    line-height: 20px;
    color: #87B220;
}

div.related ul li a:hover {
    color: #717171;
}

#content {
    float: left;
    width: 720px;
    padding: 10px 0 10px 5px;
}
#content h1, #content h2, #content h3, #content h4, #content h5 {
    color: #718E3E;
    margin: 0px 0px 2px;
    border-bottom: 1px dotted #cccccc;
    letter-spacing: -1px;
    font-family: "Trebuchet MS", Tahoma, Arial;
    padding-bottom: 3px;
}

.sidebar {
    float: right;
    width: 220px;
    padding: 10px 5px 10px 0;
    line-height: 18px;
}

.sidebar h3 {
    background: #1788c8;
    margin: 0 10px 0 0;
    font-size: 13px;
    font-weight: bold;
    color: #ffffff;
    padding: 5px 8px 5px 10px;
}

.sidebar h4 {
    background: #1788c8;
    margin: 0 10px 0 0;
    font-size: 11px;
    font-weight: bold;
    color: #ffffff;
    padding: 5px 8px 5px 10px;
}

.sidebar p, .sidebar ul {
    margin: 0 0 16px 0;
    font-size: 0.9em;
    padding: 4px;
    border-top: 1px solid #d8d8d8;
    border-right: 1px solid #d8d8d8;
    border-bottom: 1px solid #d8d8d8;
    border-left: 4px solid #cccccc;
    width: 197px;
    background: #f4f4f4;
}

.sidebar ul {
    list-style: none;
}

.sidebar ul ul {
    list-style: square;
    border: none;
    margin: 0;
    width: 90%;
    padding-left: 12px;
}

.sidebar form.search {
    margin: 5px 0;
}

div.clearer {
    clear: both;
}

#footer {
    clear: both;
    width: 958px;
    padding: 5px 0;
    margin: 0 1px;
    font-size: 11px;
    color: #f0f0f0;
    background: #1788c8;
}

#footer p {
    padding: 0;
    margin: 0;
    text-align: center;
}
#footer a {
    color: #f0f0f0;
    background-color: inherit;
    font-weight: bold;
}
#footer a:hover {
    color: #ffffff;
    background-color: inherit;
    text-decoration: underline;
}

ul.search {
    margin: 10px 0 0 20px;
    padding: 0;
}

ul.search li {
    padding: 5px 0 5px 20px;
    background-image: url(file.png);
    background-repeat: no-repeat;
    background-position: 0 7px;
}

ul.search li a {
    font-weight: bold;
}

ul.search li div.context {
    color: #888;
    margin: 2px 0 0 30px;
    text-align: left;
}

ul.keywordmatches li.goodmatch a {
    font-weight: bold;
}
